<div class="page-header ">

    <ol class="breadcrumb col-12">
        <li class="breadcrumb-item"> <h4 class="page-title"> @ViewBag.v1 </h4></li>
        <li class="breadcrumb-item"><a href="#">@ViewBag.v2</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.v3</li>
    </ol>

</div>